 <section id="header" class="top-header ">

<header class="clearfix">
    <a data-toggle-min-nav="" class="toggle-min"><i class="fa fa-bars"></i></a>

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span class="ng-binding">Retention.ai</span>
        </a>
    </div>
 
</header>
</section>

<div class="404" style="margin:90px auto 0 auto; width:50%; text-align:center; background:#fff; padding:30px;">
	
	<p style="font-size:172px; font-weight:700; font-family:open sans; text-align:center">404</p>
	<p class="lead">Oops! Something went wrong</p>
	<p><a href="/dashboard#/app/0/option/uninstalls" class="btn btn-primary">Home</a> </p>
</div>
     